*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-family:Helvetica, Arial, sans-serif;
}


.modal{
    width: 800px;
    padding: 64px 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: calc(100% - 32px);
}


/* Container  */
.modal-container {
    width: 900px;
    background: #fff;
    min-height: 200px;
    position: relative;

}


/* Header  */
.modal-header{
    background: #009688;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon{
    margin-right: 16px;
}



/* Body  */
.modal-body{
    padding: 16px;
}
.modal-body .input-name{
    display: flex;
    margin: 0 -8px;
}


.input-name-item{
    width: 50%;
    margin: 0 8px;
}

.input-file{
    width: 100%;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 24px;
}

#file-upload{
    /* width: 40%; */
}

.capcha-text{
    font-size: 15px;
    line-height: 46px;
}

.input-file-label{
    margin-right: 16px;
}

#agree{
    margin-bottom: 24px;
}


.modal-label{
    display: block;
    margin-bottom: 12px;
}

.modal-input{
    font-size: 15px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 24px;
}

/* Button  */
#register-btn{
    background: #009688;
    color: #fff;
    width: 100%;
    font-size: 15px;
    margin: 16px 0;
    padding: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

#register-btn:hover{
    opacity: 0.8;
}


/* Footer  */
.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-help a, .agree-checkbox a{
    color: #2196F3;
    font-size: 15px;
}
